/* здесь используйте глобальные переменные */
$black: #000000;
$grey-1: #6e6e6e;
$grey-2: #c8c8c8;
$grey-3: #f1f1f1;
$white: #ffffff;
$error: #d92c2c;
$success: #007e06;
$blue-product: #106da1;
$brown-product: #ae6d0c;
$black-product: #444444;

$font-family: "Helvetica";

$transition-duration: 0.3s;
