@use "../module";

.field {
  display: flex;
}

.field__block {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: 1px solid transparent;
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  padding: 11px 15px;
  transition-duration: module.$var-transition-duration;
  transition-property: border-color;

  &:has(.field__input) {
    border-color: module.$var-grey-2;
  }

  &:has(.field__input:focus-visible) {
    border-color: module.$var-grey-1;
  }
}

.field__label {
  position: relative;
  width: 100%;
}

.field__input {
  border: none;
  width: 100%;
  padding: 0;

  &:focus-visible {
    outline: none;

    & + .field__text {
      font-size: 12px;
      line-height: 15px;
      translate: -4px -21px;
    }
  }

  &::placeholder {
    font-size: 0;
  }

  &:not(:placeholder-shown) + .field__text {
    font-size: 12px;
    line-height: 15px;
    translate: -4px -21px;
  }
}

.field__text {
  position: absolute;
  display: block;
  padding-inline: 4px;
  background-color: module.$var-white;
  left: 0;
  top: 0;
  translate: -4px 0;
  font-size: 16px;
  line-height: 21px;
  color: module.$var-grey-1;
  transition-duration: module.$var-transition-duration;
  transition-property: color, font-size, line-height, translate;
}

.field__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;

  &::before {
    background-color: module.$var-grey-1;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    mask-image: url("../../icons/search.svg");
  }
}
