@use "../module";

.product {
  padding-block: 16px;
  position: relative;
}

.product__wrapper {
  margin-bottom: 16px;
}

.product__heading {
  position: relative;
  padding-right: 26px;
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.product__link {
  text-decoration: none;
  color: inherit;
}

.product__title {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  font-weight: 400;
}

.product__block {
  display: grid;
  gap: 16px;
}

.product__info {
  font-size: 12px;
  line-height: 15px;
  color: module.$var-grey-1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product__info-block {
  display: flex;
  gap: 5px;
}

.product__info-desc {
  margin-left: 0;
  color: module.$var-black;
}

.product__delete {
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 16px;
  right: 0;
  border: none;
  background-color: transparent;

  &::before {
    display: block;
    width: 22px;
    height: 22px;
    content: "";
    background-color: module.$var-black;
    mask-image: url("../../icons/close.svg");
  }
}

.product__size {
  border: none;
  padding: 0;
}

.product__size-list {
  list-style: none;
  margin-block: 0;
  padding-left: 0;
  display: flex;
  gap: 9px;
}

.product__color {
  border: none;
  padding: 0;
}

.product__color-list {
  list-style: none;
  margin-block: 0;
  padding-left: 0;
  display: flex;
  gap: 5px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.product__price-block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.product__count {
  max-width: 146px;
}

.product__price-old {
  color: module.$var-grey-1;
  font-size: 12px;
  line-height: 15px;
}

.product__price-current {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
